<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clan.css') }}">
    <title>Clan</title>
</head>
<body>
    <h1>Тут будет инфа про клан</h1>


    <div class="footer">
        <div class="footer-button">
            <a href="/menu">
                <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home">
            </a>
        </div>
    </div>

</body>
</html>